<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        appDropdown
        #r="appDropdown"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <ul
        class="dropdown-menu"
        [ngClass]="{ show: r.isOpen }"
        aria-labelledby="dropdownMenuButton1"
      >
        <li>
          <button
            type="button"
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onAddToShoppingList()"
          >
            AddToShoppingList
          </button>
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="onEditRecipe()"
            style="cursor: pointer"
            >edit recipe</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="DeleteItem()"
            style="cursor: pointer"
            >Delete</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">dec {{ recipe?.name }}</div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }}
        {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
