<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            required
            class="form-control"
            #name="ngModel"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            ngModel
            id="amount"
            required
            class="form-control"
            #amount="ngModel"
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>

      <div class="col-xs-12 mt-2">
        <button
          [disabled]="!f.valid"
          class="btn btn-success ml-1"
          (click)="(f.submit)"
        >
          {{ editMode ? "Update" : "Add" }}
        </button>

        <button class="btn btn-danger mr-1" (click)="onDelete()" type="button">
          Delete Item
        </button>
        <button class="btn btn-primary" (click)="onClear()" type="button">
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
